@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

*{
      font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
 background-color: #F0F4F9;
 display: flex;
 height: 100vh;
 align-items: center;
 justify-content: center;
}
.container{
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
   
}
.white-container{
    height: 400px;
    width: 70%;
    display: flex;
    border-radius: 20px;
    background-color: white;
    padding: 0 15px 0 15px;
}
#left{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 40px;
}
h1{
    padding-top: 20px;
        font-size: 36px;
    font-weight: 500;
}
h6{
    padding-top: 20px;
    font-weight: 500;
    font-size: 17px;
}
#right{
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
}
input{
    margin: 16px;
    padding: 15px 20px;
    border-radius: 8px;
    outline: none;
    border: 1px solid rgb(144, 141, 141);
}
input::placeholder{
    font-size: 16px;
    text-align: left;
    font-weight: 500;
}

#btn{
    display: flex;
    justify-content: end;
    padding: 10px 20px;
}
#btn>button{
    padding: 10px 19px;
    border-radius: 30px;
    border: 0;
    font-size: 15px;
    font-weight: 500;
    background-color: #0B57D0;
    color: white;
    margin-top: 50px;
}
.last-part{
    display: flex;
    align-items: center;
    justify-content: space-between;
width: 70%; 
  margin-top: 20px;
}
.last-part ul {
    display: flex;
}
.last-part ul>li{
    list-style: none;
    padding-left: 10px;
    font-size: 15px;
}

#drop-down select{
    border: none;
    outline: none;
    background-color: transparent;
    appearance: none;

}

@media (max-width: 992px){
  .white-container{
    width: 70%;
    height: auto;
    flex-direction: column;
    padding: 30px 20px;
  }
  #left, #right{
    width: 100%;
    height: auto;
    padding: 0;
  }
  #right{
    padding-top: 40px;
  }
  h1{
    font-size: 28px;
  }
  h6{
    font-size: 16px;
  }
  input{
    margin: 10px 0;
    padding: 12px 15px;
    width: 100%;
  }
  #btn{
    justify-content: flex-end;
  }
  #btn>button{
    width: auto;
    margin-top: 20px;
    padding: 8px 20px;
  }
  .last-part{
    width: 65%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
}

@media (max-width: 600px){
    /* body{
        background-color: white;
    } */
     .white-container{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
     }
     #left,
  #right {
    width: 100%;
    padding: 0;
  }
    .container{
    width: 100%;
    display: flex;
    height: 100vh;
    background-color: white;
}
#right{
    padding-top: 10px;
    height: auto;
    margin-left: 0;
}
#left {
    padding-top: 30px;
    height: auto;
  }

  input{
    margin: 10px 0;
    border-radius: 0;
  }
  h6{
    padding: 20px 0;
  }
  .last-part{
    display: flex;
    width: 100%;
    padding: 30px 10px;
  }

}